!!!
%html{lang: 'en', 'xml:lang' => 'en', xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title Test
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body
    .header
      - if current_admin
        API v1: http://damp-escarpment-8962.herokuapp.com/api/v1
        \|
        = link_to 'Home', admin_root_path
        \|
        = link_to 'Documentation', apipie_path
        \|
        = link_to current_admin.email, edit_admin_registration_path
        \|
        = link_to "Sign out", destroy_admin_session_path, :method => :delete
    .container
      = yield
